$green: rgb(33, 216, 129);
$greenDark: rgb(14, 175, 74);
$blue: rgb(50, 197, 255);
$pink: #eb2d65;
$gray: #eaeaea;
$grayDark: #b2b2b2;

$white: #fff;
$black: #000;

$gradienButtonBottom: rgb(92, 141, 255);
$gradienButtonTop: rgb(42, 227, 53);

/*shadow*/
$greenShadowCheck: rgba(20, 188, 92, 0.5);
$greenShadowList: rgba(0, 221, 118, 0.2);
$boxshadowButton: rgba(153, 184, 205, 0.004);